<% provide :title, 'What is HSP?' %>
<div class="align-center">
  <div class="hsp-explain p-1 m-3">
    <div>HSP(Higly-Sensitive-Person)とは生まれつき感受性の高い人々を指す言葉です。</div>
    <div>世界全体の人口のうち約20％が当てはまると言われ、DOESと呼ばれる4つの性質を持っています。</div>
  </div>
  <%= link_to "提唱者の日本語版公式サイトはこちら", 'http://hspjk.life.coocan.jp', class: 'proposal-link p-2' %>

  <div class="does-explain p-3 m-3">
    <b>DOESとは？</b>

    <div class="does-explain p-3 m-3">
      <div><u>処理の深さ(Depth of processing)</u></div>
      <div><u>易刺激性(Overstimulated)</u></div>
      <div><u>感情的反応性/高度な共感性(Emotional reactivity and high Empathy)</u></div>
      <div><u>些細な刺激に対する感受性(Sensitivity to Subtle stimuli)</u></div>
    </div>

    <div class="does-explain p-3 m-2">
      <div>という4つの性質を表す単語の頭文字を繋げた用語です。</div>
      <div>HSPはこれら4つの性質全てを持っています。</div>
    </div>
  </div>

  <div class="does-explain p-3 m-3">
    <b>ADHDとは違うの？</b>

    <div class="does-explain p-3 m-3">
      <div>ADHDとHSPはどちらも外部刺激によって疲れやすいなどの共通点がありますが、まだはっきりとしたことはわかっていません。</div>
      <div>HSPは客観的な判断方法で確定するものではないため、ADHDの方がHSPだと思われている場合もあるようです。</div>
      <div>しかし、ADHDの場合は上記のDOESの性質<b>全て</b>には当てはまらない可能性が高いでしょう。</div>
    </div>
  </div>
</div>