<% provide :title, 'Q&A' %>
<div class="">
  <div class="p-1 m-3"> 
    <div>Q: 料金はかかりますか？</div>
    <div>A: 基本的には無料ですが、サービス維持のため変更する可能性があります。</div>
  </div>
  <div class="p-1 m-3"> 
    <div>Q: 退会したいのですがどうすればいいですか？</div>
    <div>A: プロフィールページから退会できます。</div>
  </div>
</div>