<!-- banner下部だった箇所 -->
<div id="welcome_info">
  <div class="flex">
    <div>
      <span class="icon fas fa-search"></span>
      <h3>知る</h3>
      <p>HSPとはなんでしょうか？</p>
    </div>
    <div>
      <span class="icon far fa-paper-plane"></span>
      <h3>聞く</h3>
      <p>誰かに相談してみませんか？</p>
    </div>
    <div>
      <span class="icon far fa-comments"></span>
      <h3>話す</h3>
      <p>イベントの主催・参加ができます</p>
    </div>
  </div>
  <footer>
    <%= link_to "Get Started", signup_path, class: "button" %>
  </footer>
</div>

<!-- three -->
<section id="three" class="wrapper align-center">
  <div class="inner">
    <div class="flex flex-2">
      <article>
        <div class="image round">
          <%= image_tag "pic01.jpg", :alt => "Pic 01" %>
        </div>
        <header>
          <h3>製作者1<br />よろしくお願いします</h3>
        </header>
        <p>
          なんかそれっぽいことを<br />
          三行に分けて<br />
          書いたらいいのでは<br />
        </p>
        <footer>
          <a href="#" class="button">Learn More</a>
        </footer>
      </article>
      <article>
        <div class="image round">
          <%= image_tag 'pic02.jpg', alt: "Pic 02" %>
        </div>
        <header>
          <h3>製作者2<br />よろしくお願いします</h3>
        </header>
        <p>
          なんかそれっぽいことを<br />
          三行に分けて<br />
          書いたらいいのでは<br />
        </p>
        <footer>
          <a href="#" class="button">Learn More</a>
        </footer>
      </article>
    </div>
  </div>
</section>