<h6 class="text-center">HSPortalはHSP(Higly Sensitive Person)向けのWebサービスです。</h6>
<!-- Main Section -->
<section>
  <div class="container">
    <div class="row">
      <!-- item1 -->
      <div class="col-md-4 md-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center text-dark">
            <h4>知る</h4>
            <hr class="my-4" />
            <div class="small">
              HSPとは何か？　最新の研究情報など。
            </div>
          </div>
        </div>
      </div>
      <!-- item2 -->
      <div class="col-md-4 md-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center text-dark">
            <h4>聞く</h4>
            <hr class="my-4" />
            <div class="small">
              HSP気質由来の困り事や疑問を他ユーザと話し合ってみませんか？
            </div>
          </div>
        </div>
      </div>
      <!-- item3 -->
      <div class="col-md-4 md-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center text-dark">
            <h4>動く</h4>
            <hr class="my-4" />
            <div class="small">
              関連イベントに参加したり、主催することができます。
            </div>
          </div>
        </div>
        <!-- -->
      </div>
    </div>
  </div>
</section>