<% provide :title, 'Forget Password' %>

<div class="flex justify-content-center login-form">
<%= form_for(:password_reset, url: password_resets_path) do |f| %>
  <div class="field">
    <%= f.label :email %> 
    <%= f.email_field :email %>
  </div>
  <ul class="actions">
    <li>
      <%= f.submit 'メールを送信する', class: 'btn' %> 
    </li>
  </ul>
<% end %>
</div>