<p><%= @user.name %></p>

<p>
  HSPortalにご登録いただきありがとうございます。
  メールアドレスが使用可能かを確認するため、下記のリンクをクリックしてください。
</p>

<%= link_to "登録を完了する", edit_account_activation_url(@user.activation_token, email: @user.email) %>