<% provide :title, 'Edit Profile' %>
<% provide :button_text, 'Update' %>

<div class="">
  <div class="container">
    <div class="row">
      <div class="gravatar_edit col-12 align-center">
      <span class="avatar"><%= gravatar_for @user %></span>
        <a href="http://gravatar.com/emails" target="_blank">画像を変更（別ウィンドウで開きます)</a>
      </div>
      <%= render 'partial/user_form' %>
    </div>
  </div>
</div>