<div class="base_background text-white">
  <h1 class="title mb-3 text-center">Profile</h1>
  <div class="container">
    <div class="row">
      <div class="left-item col"><%= gravatar_for @user %></div>
      <div class="right-item col">
        <div class="profile-data-item"><%= @user.name %></div>
        <div class="profile-data-item"><p>お寿司食べたいよー</p></div>
        <div class="profile-data-item">
          <%= link_to "編集", "#", class: "" %>
          <%= link_to "削除", "#", class: "" %>
        </div>
      </div>
    </div>
  </div>
</div>