<!-- footer -->
<footer id="footer">
  <div class="inner">
    <!-- link -->
    <div class="flex justify-content-center">
      <div class="mx-3 my-1">
        <%#= link_to "Q&A", help_path %>
        <%= link_to "Q&A", "#" %>
      </div>
      <div class="mx-3 my-1">
        <%#= link_to "お問い合わせ", contact_path %>
        <%= link_to "お問い合わせ", "#" %>
      </div>
      <div class="mx-3 my-1">
        <%= link_to "利用規約", policy_path %>
      </div>
    </div>
    <div class="copyright">
      Copyright &copy; HSPortal 2020
    </div>
    <!-- SNS icon -->
    <div class="row flex justify-content-center">
        <%#= link_to "", "", :alt => "Twitter", class: "icon fa-twitter" %>
        <%= link_to "", "https://github.com/fffMagnolia/HSPortal.git", class: "icon fa-github" %>
    </div>
  </div>
</footer>
<!-- debug -->
<%#= debug(params) if Rails.env.development? %>