<% provide :title, @info.title %>
<div class="align-center p-1 m-3">
  <p><%= safe_join(@info.message.split("\n"), tag(:br)) %></p>
  <% if @event.user_id == current_user.id %>
    <%= link_to "削除", event_info_path(@event, @info), method: :delete, data: { confirm: 'お知らせを削除しますか？' }, class: "button text-danger" %>
  <% end %>
</div>